.deck-container .theme-menu {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 10px;
  left: 10px;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  font-family: sans-serif;
  color: #888;
}
.js .deck-container .theme-menu {
  display: block;
}
.deck-container .theme-menu h2 {
  float: left;
  font-size: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0;
  height: 20px;
  position: relative;
  top: -5px;
  left: -5px;
  background: #ccc;
  color: #444;
  text-shadow: none;
  font-family: sans-serif;
  font-weight: bold;
}
.deck-container .theme-menu label {
  float: left;
  display: block;
  font-size: 12px;
  vertical-align: baseline;
  margin: 0 4px 0 15px;
}
.deck-container .theme-menu select {
  float: left;
  display: block;
  font-size: 14px;
}

@media print {
  .theme-menu {
    display: none !important;
  }
}

  
table { width: 100%; }
th    { text-align: left; }

table#restspeak th:nth-child(1) { width: 20%; }
table#restspeak th:nth-child(2) { width: 5%; }
table#restspeak th:nth-child(3) { width: 20%; }
table#restspeak th:nth-child(4) { width: 5%; }
table#restspeak th:nth-child(5) { width: 50%; }

table#restspeak2 th:nth-child(1) { width: 20%; }
table#restspeak2 th:nth-child(2) { width: 80%; }

    .s9_gradient_linear_blue_aqua_blue_aqua { background-image: -webkit-linear-gradient(top, blue, aqua, blue, aqua );
                background-image: -moz-linear-gradient(top, blue, aqua, blue, aqua );
                background-image: -ms-linear-gradient(top, blue, aqua, blue, aqua );
                background-image: -o-linear-gradient(top, blue, aqua, blue, aqua );
                background-image: linear-gradient(top, blue, aqua, blue, aqua );
              }
    .s9_gradient_linear_silver_white_silver_white { background-image: -webkit-linear-gradient(top, silver, white, silver, white );
                background-image: -moz-linear-gradient(top, silver, white, silver, white );
                background-image: -ms-linear-gradient(top, silver, white, silver, white );
                background-image: -o-linear-gradient(top, silver, white, silver, white );
                background-image: linear-gradient(top, silver, white, silver, white );
              }
    .s9_gradient_linear_yellow_orange_yellow_orange { background-image: -webkit-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: -moz-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: -ms-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: -o-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: linear-gradient(top, yellow, orange, yellow, orange );
              }
    .s9_gradient_linear_yellow_orange_yellow_orange { background-image: -webkit-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: -moz-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: -ms-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: -o-linear-gradient(top, yellow, orange, yellow, orange );
                background-image: linear-gradient(top, yellow, orange, yellow, orange );
              }
    .s9_gradient_linear_silver_white_silver_white { background-image: -webkit-linear-gradient(top, silver, white, silver, white );
                background-image: -moz-linear-gradient(top, silver, white, silver, white );
                background-image: -ms-linear-gradient(top, silver, white, silver, white );
                background-image: -o-linear-gradient(top, silver, white, silver, white );
                background-image: linear-gradient(top, silver, white, silver, white );
              }
    .s9_gradient_linear_green_lime_green_lime { background-image: -webkit-linear-gradient(top, green, lime, green, lime );
                background-image: -moz-linear-gradient(top, green, lime, green, lime );
                background-image: -ms-linear-gradient(top, green, lime, green, lime );
                background-image: -o-linear-gradient(top, green, lime, green, lime );
                background-image: linear-gradient(top, green, lime, green, lime );
              }
    .s9_gradient_linear_green_lime_green_lime { background-image: -webkit-linear-gradient(top, green, lime, green, lime );
                background-image: -moz-linear-gradient(top, green, lime, green, lime );
                background-image: -ms-linear-gradient(top, green, lime, green, lime );
                background-image: -o-linear-gradient(top, green, lime, green, lime );
                background-image: linear-gradient(top, green, lime, green, lime );
              }
    .s9_gradient_linear_silver_white_silver_white { background-image: -webkit-linear-gradient(top, silver, white, silver, white );
                background-image: -moz-linear-gradient(top, silver, white, silver, white );
                background-image: -ms-linear-gradient(top, silver, white, silver, white );
                background-image: -o-linear-gradient(top, silver, white, silver, white );
                background-image: linear-gradient(top, silver, white, silver, white );
              }
    .s9_gradient_linear_red_orange_red_orange { background-image: -webkit-linear-gradient(top, red, orange, red, orange );
                background-image: -moz-linear-gradient(top, red, orange, red, orange );
                background-image: -ms-linear-gradient(top, red, orange, red, orange );
                background-image: -o-linear-gradient(top, red, orange, red, orange );
                background-image: linear-gradient(top, red, orange, red, orange );
              }
    .s9_gradient_linear_red_orange_red_orange { background-image: -webkit-linear-gradient(top, red, orange, red, orange );
                background-image: -moz-linear-gradient(top, red, orange, red, orange );
                background-image: -ms-linear-gradient(top, red, orange, red, orange );
                background-image: -o-linear-gradient(top, red, orange, red, orange );
                background-image: linear-gradient(top, red, orange, red, orange );
              }
    .s9_gradient_linear_silver_white_silver_white { background-image: -webkit-linear-gradient(top, silver, white, silver, white );
                background-image: -moz-linear-gradient(top, silver, white, silver, white );
                background-image: -ms-linear-gradient(top, silver, white, silver, white );
                background-image: -o-linear-gradient(top, silver, white, silver, white );
                background-image: linear-gradient(top, silver, white, silver, white );
              }
